html,
body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 15px;
}

#welcome-section {
    height: 100vh;
}

nav {
    float: right;
    position: fixed;
    width: 100%;
    text-align: right;
    padding: 5px 40px;
}

nav ul li {
    display: inline-block;
    text-align: right;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #ff751a;
    padding-left: 80px;
}

.intro {
    top: 0;
    background: #ffffff;
    min-height: 65vh;
    padding-top: 25vh;
    margin: 0 0 0 5%;
    color: #808080;
}

.intro-hi {
    color: #262626;
}

#projects {
    background: #e6e6e6;
    height: 25vh;
    width: 100%;
    padding: 10% 5% 50% 5%;
}

.work {
    width: 50%;
    margin: 0 auto;
    float: left;
}

.work a {
    color: #4d4d4d;
}

.project-pic {
    width: 350px;
    height: 180px;
}

.project-tile {
    margin: 0 0 0 2%;
}

footer {
    margin: 5% 0 0 5%;
    color: #a6a6a6;
}

#contact ul {
    list-style: none;
    text-align: center;
}

#contact ul li {
    display: inline-block;
}

.contact-social {
    display: inline-block;
    color: green;
    text-align: left;
}

#contact a {
    color: #ff751a;
}

@media only screen and (max-width: 500px) {
    nav ul {
        text-align: center;
    }
    nav ul li {
        margin: 20px;
    }
    .projects {
        margin: 40px 0;
    }
}

.header {
    padding: 160px 0 110px;
}

@media only screen and (max-width: 367px) {
    /*    #contact{
    min-height:1100px;
  } */
    .contact-details {
        border: 2px solid #90C695;
        border-radius: 0;
        width: 90px;
        height: 20px;
        padding: 10px;
        line-height: normal;
    }
}