html,
body {
    font-family: 'Ubuntu', sans-serif;
    /*text-align: center;*/
    margin: 15px;
}

#navbarNav a {
    font-size: 18px;
    color: #ff751a;
}

.intro {
    top: 0;
    background: #ffffff;
    min-height: 65vh;
    padding-top: 25vh;
    margin: 0 0 0 5%;
    color: #808080;
    text-align: left;
}

.intro-hi {
    color: #262626;
}

footer {
    margin: 5% 0 0 5%;
    color: #a6a6a6;
}

#contact ul {
    list-style: none;
    text-align: center;
}

#contact ul li {
    display: inline-block;
}

.contact-social {
    display: inline-block;
    color: green;
    text-align: left;
}

#contact a {
    color: #ff751a;
}
